@tailwind base;
@layer base {
  :root {
    /* text */
    --color-text-main: #202b3c;
    --color-text-dark: #202b3c;
    --color-text-grey: #4f627d;
    --color-text-white: #ffffff;
    /* Background */
    --color-bg-main: #485bc9;
    /* Border */
    --color-border-main: #ffffff;
    --color-border-secondary: #ffffff;
    --color-border-main: #ffffff;
    /* follow neutral */
    --color-neutral-dark: #202b3c;
  }
  * {
    @apply text-sm text-[var(--color-text-main)];
  }
}
@tailwind components;
@layer components {
  .card-main {
    @apply px-4 py-3;
  }
  .text-name-main {
    @apply text-[13px] font-semibold  leading-snug;
  }
  .text-header-main {
    @apply text-xs font-medium leading-normal;
  }
}
@tailwind utilities;
