@tailwind base;
@layer base {
  :root {
    /* text */
    --color-text-main: #202b3c;
    --color-text-dark: #202b3c;
    --color-text-grey: #4f627d;
    --color-text-white: #ffffff;
    --color-text-secondary: #485bc9;
    /* Background */
    --color-bg-main: #485bc9;
    --color-bg-secondary: #e2e8f0;
    /* Border */
    --color-border-main: #ffffff;
    --color-border-secondary: #ffffff;
    --color-border-main: #ffffff;
    /* follow neutral */
    --color-neutral-dark: #202b3c;
    /* distance blank */
    --blank-main : 8px ;
    --blank-primary :9px
  }
  body {
    @apply text-sm text-[var(--color-text-main)];
  }
}
@tailwind components;
@layer components {
  .card-main {
    @apply px-4 py-3 bg-white;
  }
  .card-secondary {
    @apply bg-[var(--color-bg-secondary)] rounded-[20px] overflow-hidden
  }
  .card-shadow-main {
    @apply shadow-main rounded-[20px]  mb-6 ;
  }
  .text-header-secondary {
    @apply text-base text-[var(--color-text-secondary)] font-semibold;
  }
  .text-name-main {
    @apply text-[13px] font-semibold  leading-snug;
  }
  .text-header-main {
    @apply text-xs font-medium leading-normal;
  }
  .text-sub-header-main {
    @apply text-[11px] font-normal leading-normal text-[var(--color-text-grey)];
  }
  .text-auth {
    @apply text-[var(--color-text-secondary)] text-[11px] font-medium;
  }
  .text-post {
    @apply text-[11px] text-[--color-text-main]
  }
  .bg-main {
    @apply bg-[var(--color-bg-secondary)];
  }
}
@tailwind utilities;
